<!DOCTYPE html>
<html lang="en">
	<head>
		<%include head%>
	</head>
    <body>
		<% include header%>
		<div id="wrapper" class="container">
			<% include headerNav%>
			<section class="header_text sub">
			<img class="pageBanner" src="img/banner.jpg" alt="Peru"  >
				<h4><span><%= user.name%></span></h4>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Cuenta</a>
								</div>
								<div id="collapseOne" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="row-fluid">
											<div class="span6">
												<h4>Tus Datos Personales</h4>
												<div class="control-group">
													<label class="control-label">Nombres</label>
													<div class="controls">
														<input type="text" name="name" value='<%= dataUser.name%>' placeholder="Nombres" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Apellidos</label>
													<div class="controls">
														<input type="text" name="lastName" value='<%= dataUser.lastName%>' placeholder="Apellidos" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Direccion Correo</label>
													<div class="controls">
														<input type="text" name="email" value='<%= dataUser.email%>' placeholder="Email" class="input-xlarge">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Direccion de Envio</a>
									</div>
									<div id="collapseTwo" class="accordion-body collapse">
										<div class="accordion-inner">
											<div class="row-fluid">
												<form method="POST" action="/auth/login">
														<div class="span6">
																<h4>Tu Direccion</h4>
																<div class="control-group">
																	<label class="control-label"><span class="required">*</span>Direccion:</label>
																	<div class="controls">
																		<input type="text" name="address" placeholder="Direccion" class="input-xlarge">
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label">Referencia:</label>
																	<div class="controls">
																		<input type="text" name="reference" placeholder="Referencia" class="input-xlarge">
																	</div>
																</div>
																<div class="control-group">
																		<label class="control-label"><span class="required">*</span> Ciudad:</label>
																		<div class="controls">
																			<input type="text" name="city" placeholder="Ciudad" class="input-xlarge">
																		</div>
																</div>
																<div class="control-group">
																		<label class="control-label"><span class="required">*</span> Departamento</label>
																		<div class="controls">
																				<input type="text" name="department" placeholder="Departamento" class="input-xlarge">
																			</div>
																</div>
																<div class="control-group">
																	<label class="control-label"><span class="required">*</span> Codigo Postal:</label>
																	<div class="controls">
																		<input type="text" name="postalcode" placeholder="Codigo Postal" class="input-xlarge">
																	</div>
																</div>
																<div class="control-group">
																		<label class="control-label"><span class="required">*</span>Telefono</label>
																		<div class="controls">
																			<input type="text" name="phone" placeholder="Telefono" class="input-xlarge">
																		</div>
																</div>
															
															</div>
												</form>
												
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</section>
			<%include footer%>
		</div>
		<script src="js/common.js"></script>
    </body>
</html>
