<!DOCTYPE html>
<html lang="en">
	<head>
		<%include head%>
	</head>
    <body>
		<% include header%>
		<div id="wrapper" class="container">
			<% include headerNav%>
			<section class="header_text sub">
			<img class="pageBanner" src="img/banner.jpg" alt="Peru"  >
				<h4><span><%= user%></span></h4>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Cuenta &amp; Detalles de Pago</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="row-fluid">
											<div class="span6">
												<h4>Tus Datos Personales</h4>
												<div class="control-group">
													<label class="control-label">Nombres</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Apellidos</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Direccion Correo</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Telefono</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
											</div>
											<div class="span6">
												<h4>Tu Direccion</h4>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span>Direccion:</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Referencia:</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Codigo Postal:</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Departamento:</label>
													<div class="controls">
														<select class="input-xlarge">
															<option value="">Seleccionar</option>
															<option value="1">Lima</option>
															<option value="2">Trujillo</option>
															<option value="3">Cusco</option>
															<option value="4">Ancash</option>
															<option value="5">Tumbres</option>
														</select>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Ciudad:</label>
													<div class="controls">
														<input type="text" placeholder="" class="input-xlarge">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<%include footer%>
		</div>
		<script src="js/common.js"></script>
    </body>
</html>
