<html lang="es">
	<head>
	<%include head%>
	</head>
    <body>
		<%include header%>
		<div id="wrapper" class="container">
			<% include headerNav%>
			<section class="google_map">
				<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7899.816009491296!2d-79.0315958275843!3d-8.110849426643908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d8387a91d09%3A0xbfeb703329913196!2sCentro+Historico%2C+Trujillo+13001!5e0!3m2!1ses-419!2spe!4v1507003660150" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</section>
			<section class="header_text sub">
					<img class="pageBanner" src="/img/banner.jpg" alt="Peru"  >
				<h4><span>Contactanos</span></h4>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span5">
						<div>
							<h5>Informacion Adicional</h5>
							<p><strong>Celular:</strong>&nbsp;948686985<br>
							<strong>Email:</strong>&nbsp;<a href="#">soporte@artesania.com</a>
							</p>
							<br/>
						</div>
					</div>
					<div class="span7">
						<form method="get" action="/">
							<fieldset>
								<div class="clearfix">
									<label for="name"><span>Nombre:</span></label>
									<div class="input">
										<input tabindex="1" size="18" id="name" name="name" type="text" value="" class="input-xlarge" placeholder="Name">
									</div>
								</div>

								<div class="clearfix">
									<label for="email"><span>Email:</span></label>
									<div class="input">
										<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge" placeholder="Email Address">
									</div>
								</div>

								<div class="clearfix">
									<label for="message"><span>Mensaje:</span></label>
									<div class="input">
										<textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7" placeholder="Sugencias / Reclamos"></textarea>
									</div>
								</div>
								<div class="actions">
									<button tabindex="3" type="submit" class="btn btn-inverse">Enviar Mensaje</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			<% include footer%>
		</div>
		<script src="/js/common.js"></script>
    </body>
</html>
