<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head%>
	</head>
    <body>
			<%include header%>
		<div id="wrapper" class="container">
			<%include headerNav%>
			<section class="header_text ">
				<h1><span>ERROR</span></h1>
			</section>
			<section class="main-content">
				<div class="row">
					<center>
						<% if(error.status==404) {%> 
							<img  src="/img/Error-404.png" height="300"  width="400">
							<h2 ><%=error.statusText %></h2 >
						<%} else{ %>
							<h2 ><%=error.status %></h2 >
							<h2 ><%=error.statusText %></h2 >
						<% } %>  		
					</center>
				</div>
			</section>
			<% include footer%>
		</div>
		<script src="/js/common.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>
    </body>
</html>
