<section id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4>Navegacion</h4>
        <ul class="nav">
          <li><a href="/">inicio</a></li>
          <li><a href="#">Acerda de nosotros</a></li>
          <li><a href="/contact">Contactanos</a></li>
          <li><a href="/shopcart">Carrito</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/login">Log Out</a></li>
        </ul>
      </div>
        <div class="span4">
          <h4>Mi Cuenta</h4>
          <ul class="nav">
            <li><a href="#">Mi Cuenta</a></li>
            <li><a href="#">historial compras</a></li>
            <li><a href="#">Lista de deseos</a></li>
          </ul>
        </div>
        <div class="span5">
          <p class="logo"><img src="img/logo2.png" class="site_logo" alt=""></p>
          <p>ArtesaniaPeru.</p>
          <br/>
          <span class="">
            <a class="facebook" href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true">  Facebook</i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"> Twitter</i></a>
          </span>
        </div>
    </div>
  </section>
  <section id="copyright">
    <span class="fa-lg">Copyright</span> <i class="fa fa-copyright fa-lg" aria-hidden="true"><span> 2017 UPAO</span></i>
    
  </section>