<div id="top-bar" class="container">
  <div class="row">
    <div class="span4">
      <form method="GET" class="glyphicon glyphicon-search" action="/">
        <input type="text" class="input-block-level search-query" Placeholder="Buscar">
      </form>
    </div>
    <div class="span8">
      <div class="account pull-right">
        <ul class="user-menu">
          <li><a href="#">Mi Cuenta</a></li>
          <li><a href="/shopcart">Carrito</a></li>
          <li><a href="/checkout">Checkout</a></li>
          <li><a href="/auth/login">Sign in</a></li>
          <li><a href="/auth/logOut">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>  
</div>