<section class="navbar main-menu">
  <div class="navbar-inner main-menu">
    <a href="/" class="logo pull-left"><img src="/img/logo2.png" class="site_logo" alt=""></a>
    <nav id="menu" class="pull-right">
      <ul>
         <li><a href="/products">Productos</a> </li>
         <li><a href="/interactivo">Interactivo</a> </li>
         <li><a href="/shopcart">Carrito</a> </li>
         <li><a href="/contact">Contactanos</a> </li>
         
      </ul>
    </nav>
  </div>
</section>