<section class="navbar main-menu">
  <div class="navbar-inner main-menu">
    <a href="/" class="logo pull-left"><img src="/img/logo2.png" class="site_logo" alt=""></a>
    <nav id="menu" class="pull-right">
      <ul>
        <li><a href="/products">productos</a> </li>
      </ul>
    </nav>
  </div>
</section>