<html lang="es">
		<head>
			<% include head %>
		</head>
			<body>
			<% include header%>
			<div id="wrapper" class="container">
			<% include headerNav%>
				<section class="header_text sub">
						<img class="pageBanner" src="/img/banner.jpg" alt="Peru"  >
					<h4><span> Disfruta de las imagenes en 3d</span></h4>
				</section>
				<section class="main-content">
					<div class="row">
						<div class="span12">
							<ul class="thumbnails listing-products">
										<li class="span5">
												<div class="product-box2">
													<span class="sale_tag"></span>
													<div class="sketchfab-embed-wrapper ">
														<iframe class="span5 product-box2 " src="https://sketchfab.com/models/07b5f47f15034475872a8f5e4790df32/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
														</iframe>
												</div>
											</li>
											<li class="span5">
													<div class="product-box2">
														<span class="sale_tag"></span>
														<div class="sketchfab-embed-wrapper ">
															<iframe class="span5 product-box2 " src="https://sketchfab.com/models/a920d0100c684590b411fb65d2f1d255/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
													</div>
												</li>
												<li class="span5">
														<div class="product-box2">
															<span class="sale_tag"></span>
															<div class="sketchfab-embed-wrapper ">
																<iframe class="span5 product-box2"src="https://sketchfab.com/models/522d1121696540f386fa84e71f2e7787/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
																</iframe>
														</div>
												</li>
												<li class="span5">
													<div class="product-box2">
														<span class="sale_tag"></span>
														<div class="sketchfab-embed-wrapper ">
															<iframe class="span5 product-box2"  src="https://sketchfab.com/models/9121c38c907d44c1a32406c9dfba4333/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
													</div>
												</li>
												<li class="span5">
														<div class="product-box2">
															<span class="sale_tag"></span>
															<div class="sketchfab-embed-wrapper ">
																<iframe class="span5 product-box2" src="https://sketchfab.com/models/93957ebe7e9e4de796ac29b0b0dbdb85/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
														</div>
													</li>
												<li class="span5">
														<div class="product-box2">
															<span class="sale_tag"></span>
															<div class="sketchfab-embed-wrapper ">
																<iframe class="span5 product-box2" src="https://sketchfab.com/models/2766846d254448599fa7b526b69cf456/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
													
														</div>
												</li>
												<li class="span5">
														<div class="product-box2">
															<span class="sale_tag"></span>
															<div class="sketchfab-embed-wrapper ">
																<iframe class="span5 product-box2" src="https://sketchfab.com/models/c01ff415b65846a49da3ec72afd6589d/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
														</div>
												</li>
												<li class="span5">
														<div class="product-box2">
															<span class="sale_tag"></span>
															<div class="sketchfab-embed-wrapper ">
																<iframe class="span5 product-box2" src="https://sketchfab.com/models/43df022d700845eb8accd79a3d5a9fe5/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
														</div>
												</li>
							</ul>
							<hr>
							<div class="pagination pagination-small pagination-centered">
								<ul>
									<li><a href="#">Prev</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<% include footer%>
			</div>
			<script src="/js/common.js"></script>
			</body>
	</html>
	