<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head%>
	</head>
    <body>
			<%include header%>
		<div id="wrapper" class="container">
			<%include headerNav%>
			<section class="header_text sub">
			<img class="pageBanner" src="img/pageBanner.png" alt="New products" >
				<h4><span>Iniciar Sesion o Registrate</span></h4>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span5">
						<h4 class="title"><span class="text"><strong>Inicia Sesion</strong> </span></h4>
						<form action="#" method="post">
							<input type="hidden" name="next" value="/">
							<fieldset>
								<div class="control-group">
									<label class="control-label">Nombre Usuario</label>
									<div class="controls">
										<input type="text" placeholder="Ingresa Nombre de usuario" id="username" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Contraseña</label>
									<div class="controls">
										<input type="password" placeholder="Ingresa tu Contraseña" id="password" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<input tabindex="3" class="btn btn-inverse large" type="submit" value="Iniciar Sesion">
									<hr>
									<p class="reset">Recuperar <a tabindex="4" href="#" title="Recuperar Cuenta">Cuenta</a></p>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="span7">
						<h4 class="title"><span class="text"><strong>Registro</strong>  </span></h4>
						<form action="#" method="post" class="form-stacked">
							<fieldset>
								<div class="control-group">
									<label class="control-label">Nombre usuario</label>
									<div class="controls">
										<input type="text" placeholder="Ingresa Tu nombre de usuario" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Nombre(s)</label>
									<div class="controls">
										<input type="text" placeholder="Ingresa Tu nombre" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Apellidos</label>
									<div class="controls">
										<input type="text" placeholder="Ingresa tus Apellidos" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Email address:</label>
									<div class="controls">
										<input type="password" placeholder="Ingresa Tu Email" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Password:</label>
									<div class="controls">
										<input type="password" placeholder="Ingresa tu contraseña" class="input-xlarge">
									</div>
								</div>
								<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Crear Cuenta"></div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			<% include footer%>
		</div>
		<script src="js/common.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>
    </body>
</html>
